/*@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Roboto+Mono:wght@500&display=swap');
// roboto + alegreya*/

*{
    background-color: #000;
    color: #f5f2f0;
}
header{

    justify-content: center;
    margin: 0;
  
   width: 100%;
   height: 100px;

}

h1, h2, h3, h4, h5, h6{
    font-family: 'Alegreya', serif;
}

a{
    color: #fff;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    /*margin-left: 20px;
   margin-right:20px; */
   height: 500px;
}

.about{
 width: 100%;
 align-items: center;
}

.biogrid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
    grid-gap: 20px;
    height: auto;
    // max-width: 1050px;
    margin: 0 auto; 
    justify-content:center;
    padding: 40px;
}
.milky{
    max-width: 450px;
}
.grid1{
    display: grid;
    grid-template-columns: 65% 35%;
    grid-auto-rows: auto;
    grid-gap: 20px;
    height: auto;
    // max-width: 1050px;
    margin: 0 auto; 
    justify-content:center;
    padding: 40px;
}
.grid2{
    display: grid;
    grid-template-columns: 65% 35%;
    grid-auto-rows: auto;
    grid-gap: 20px;
    height: auto;
    // max-width: 1050px;
    margin: 0 auto; 
    justify-content:center;
   }

.grid3{
    display: grid;
    // grid-template-columns: 35% 65%;
    grid-auto-rows: auto;
    grid-gap: 20px;
    height: auto;
    // max-width: 1050px;
    margin: 0 auto; 
    justify-content:center;
    width: 100%;
    padding: 20px;
}
.grid4{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
    grid-gap: 20px;
    height: auto;
    // max-width: 1050px;
    margin: 0 auto; 
    justify-content:center;
}

.grid5{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: auto;
    grid-gap: 20px;
    height: auto;
    // max-width: 1050px;
    margin: 0 auto; 
    justify-content:center;
    padding: 30px;

}



// .paragraph img{
//     max-width: 367.5px;

// }

.event{
 display: grid;
 grid-template-columns: 33.333% 33.333% 33.333%;
 grid-auto-rows: auto;
 height: auto;
//  max-width: 350px;
 margin: 0 auto; 
 justify-content:center;
}

.astronomer{
    display: grid;
    // grid-template-columns: 33.333% 33.333% 33.333%;
    grid-auto-rows: auto;
    height: auto;
    max-width: 350px;
    margin: 0 auto; 
    justify-content:center;
    padding: 30px;
}

.object{
 max-width: 350px;
    margin: 0 auto; 
    justify-content:center;
    padding: 30px;
    align-items: center;

}

.sun{
    max-width:450px;
    margin: 0 auto; 
    justify-content:center;
    padding: 30px;
    align-items: center;
}


.container{
    // border-style: solid;
    // border-radius: 10px 10px 10px 10px;
    // border-color: #fff;
     padding: 20ox;
}
.astrogrid{
    display: grid;
    // grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
    grid-gap: 20px;
    height: auto;
    // max-width: 1050px;
    margin: 0 auto; 
    justify-content:center;
}
.astros{
    padding:30px;
    // margin: auto;
   
}

.expogrid{
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-auto-rows: auto;
    grid-gap: 20px;
    height: auto;
    // max-width: 1050px;
    margin: 0 auto; 
    justify-content:center;

}


  

    
.grid-box img{
    padding: 40px;
width: 700px;
}
.grid-wrapper{
    min-height: 100vh;
      padding: 2em;
      margin: auto;
      max-width: 800px;
      
}

   .grid-box {
        clear: both;
        overflow: auto;   
    text-align:center;
    top: 15%;
    font-size: 20px;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
   }

   .astronomer-container {
    display: grid;
    grid-template-columns: 1fr;
    
    background-color: rgb(58, 58, 61);
    align-content: center;
    & img {
        width: 400px;
        
        border-radius: 4px;
        padding: 20px;
        float: left; 
        margin: 0 1rem 1rem 0;
    }
    & p {
      text-align: center;
      padding: 50px;
    }
  }



   @media screen and (min-width: 600px){
    .grid-box{
      grid-template-columns: 1fr 1fr;
    }
    .grid .section-head{
      grid-column: 1/-1;
    }
  }
  /* end min-width: 600px */
  
  
  @media screen and (min-width: 1200px){
    .grid-box{
      grid-template-columns: 1fr 1fr 1fr 1fr;
      max-width: 1500px;
    }
  }


//   .Exploration{
//       max-width: 1000px;
//       margin: 0 auto;
//   }
footer{
    height: 50px;
    align-items: center;
    align-content: center;
    padding-top: 10px ;
    text-align: center;
}
.bio{
    text-align: center;
}
.astrogrid img{
        
        width:  250px;
        height: 250px;
        object-fit: cover;    
}
